.modalWindow {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(224, 224, 224, 0.4);
    backdrop-filter: blur(7px);

    display: flex;
    align-items: center;
    justify-content: center;
}

.modalWindow_content {
    position: relative;
    width: 90%;
    height: auto;

    background: #E0E0E0;
    box-shadow: -5px 5px 10px rgba(199, 199, 199, 0.2), 5px -5px 10px rgba(199, 199, 199, 0.2), -5px -5px 10px rgba(249, 249, 249, 0.9), 5px 5px 13px rgba(199, 199, 199, 0.9), inset 1px 1px 2px rgba(249, 249, 249, 0.3), inset -1px -1px 2px rgba(199, 199, 199, 0.5);
    border-radius: 20px;

    display: flex;
    align-items: center;
    flex-direction: column;
} 

.form_container-modalWindow {
    width: 83%;
}

.close {
    position: absolute;
    top: 10px;
    right: 2px;
    width: 40px;
    height: 40px;
}

.close__button {
    position: relative;
    --size: 33px;
    --heightLine: 3.4px;
    --colorLine: #8A8383;
    --scale: 0.8;
    --backgroundColor: #E0E0E0;
    width: var(--size);
    height: var(--size);
    overflow: hidden;
    outline: none;
    user-select: none;
    cursor: pointer;

    transition-duration: var(--transitionDuration);
    transition-timing-function: var(--transitionTimingFunction);
    transition-property: background-color;

    &:hover {
        --colorLine: #636161;
    }
}

.close__button::before,
.close__button::after {
    position: absolute;
    content: '';
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--colorLine);
    width: calc(var(--scale) * 100%);
    height: var(--heightLine);
    transition-duration: var(--transitionDuration);
    transition-timing-function: var(--transitionTimingFunction);
    transition-property: transform, background-color;
    border-radius: 40px;
}

.close__button::after {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close__button::before {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.modalWindow_content_inner {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 13px;
}

.modalWindow_content_inner_second {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.modalWindow_content_title {
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 40px;
    color: rgb(44, 48, 52);
    margin: 0px;
}

.modalWindow_content_description {
    margin-top: -16px;
    color: rgb(107, 102, 97);   
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: rgb(44, 48, 52);
    margin: 0px;
    text-decoration: none;
}

.modalWindow_content_upgrade {
    padding: 0px 24px;
    width: 100%;
}

.modalWindow_content_upgrade_block {
    border-radius: 12px;
    align-items: center;
    overflow: hidden;
    border: 1px solid var(--border-low, #C7BAB8);
    background: linear-gradient(45deg, rgba(253, 191, 28, 0.333), transparent);
    display: flex;
    width: 100%;
    gap: 12px;
}

.modalWindow_content_upgrade_img {
    padding: 8px;
    width: 55px;
    height: 55px;
}

.modalWindow_content_upgrade_text {
    text-align: left;
}

.modalWindow_content_upgrade_level {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: rgb(107, 102, 97);
    margin: 0px;
}

.modalWindow_content_upgrade_hours {
    font-weight: bold;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: rgb(44, 48, 52);
    margin: 0px;
    text-decoration: none;
}

.modalWindow_content_price {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 4px;
}

.modalWindow_content_arrow {
    margin: 12px 0px;
    transform: rotate(-90deg);
    width: 20px;
    height: 20px;
}

.modalWindow_content_price_img {
    width: 30px;
    height: 30px;
    margin-left: -12px;
}

.modalWindow_content_price_text {
    font-weight: bold;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: rgb(44, 48, 52);
    margin: 0px;
    text-decoration: none;
}

.upgrade_button {
    color: rgb(255, 255, 255);
    border: none;
    text-decoration: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-image: url("../../assets/green.jpg");

    flex-shrink: 0;
    width: 100%;
    height: 56px;
    cursor: pointer;
    box-sizing: border-box;
    font-family: Manrope;
    font-size: 16px;
    line-height: 22px;
    padding: 0px 16px;
    overflow: hidden;
    display: flex;
    font-weight: bolder;
    border-radius: 20px;
    transition: opacity 0.2s ease 0s, background 0.2s ease 0s, color 0.2s ease 0s;

    &:disabled {
        opacity: 0.5;
    }
}

.loading {
    position: absolute;
    top: 18px;
    left: 9px;
    width: 40px;
    height: 40px;
}

.spinner-2 {
    width: 16px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 6px solid #8A8383;
    border-right-color: rgb(156, 38, 60);
    animation: s2 1s infinite linear;
  }
  @keyframes s2 {to{transform: rotate(1turn)}} 