
.game {
    background: rgb(7, 1, 42);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    margin: 0;

    position: relative;

}

.game i {
    position: absolute;
    top: -250px;
    background: rgba(255, 255, 255, 0.5);
    animation: animateStars linear infinite;
}

@keyframes animateStars 
{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(200vh);
    }
}

.game__road {
    display: flex;
    justify-content: center;
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
}

.game__toucharea {
    height: 40%;
    width: 100%;  
    bottom: 0;
    position: absolute;
    z-index: 100;
}

.game__rocket {
    position: absolute;
    transform: rotate(0deg) translate(0, 87vh);
    /* border: 1px solid red; */ 
}

.game__coin {
    position: absolute;
    /* border: 1px solid green; */
}

.bronzecoin {
    transform: translate(0, -80px);
    display: initial;
}

.silvercoin {
    transform: translate(0, -60px);
    display: initial;
}

.goldcoin {
    transform: translate(0, -60px);
    display: initial;
}

.game__asteroid {
    position: absolute;
    transform: translate(120px, -90px);
    display: initial;
}

.game__fuel{
    position: absolute;
    transform: translate(-100px, -60px);
    display: initial;
}

.game__button_start {
    z-index: 1000;
    position: absolute; 
    right: 0;
    margin: 15px 12px;
    width: 35px;
    height: 35px;
}

.game__info {
    position: absolute;
    top: 1%;
    left: 1%;
}

.game__score {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.game__score_img {
    padding-right: 8px;
}

.game__score_coins {
    color: white;
    font-size: 25px;
}

.game__percent {
    display: flex;
    align-items: center;
    margin-left: 4px;
}

.game__percent_img {
    padding-right: 8px;
}

.game__percent_num {
    color: white;
    font-size: 25px;
}