.home {
    background-image: url("../../assets/home.jpg");
    background-position: 50% 100%;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    position: relative;
    
}

.home_center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

                   /* header */
.home_header {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    background-image: url("../../assets/home.jpg");
    background-position: 70% 40%;
    background-size: cover;
    border-radius: 20px;
    border: 3px solid black;
}

.home_coin {
    width: 20%;
    height: 45px;
    width: 45px;
    margin-left: 20px;
}

.home_text {
    width: 60%;
}

.home_text_name {
    color: white;
    font-size: 17px;
    line-height: 20px;
    padding-top: 10px;
}

.home_text_place {
    color: white;
    font-size: 17px;
    line-height: 20px;
    padding-bottom: 10px;
}

.home_arrow {
    width: 20%;
    height: 30px;
    width: 30px;
    margin-right: 20px;
}

            /* balance */
.home_balance {
    width: 100vw;
    margin-top: 80px;
    text-align: center
}    

.home_balance_name {
    color: white;
    font-size: 21px;
    line-height: 20px;
    margin-bottom: 13px;
}

.home_balance_center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_balance_img {
    width: 20%;
    height: 32px;
    width: 32px;
    margin-right: 20px;
}

.home_balance_score {
    color: white;
    font-size: 35px;
    line-height: 0px;
}

/* play */
.home_play {
    width: 34%;
    margin-top: 85px;
    text-align: center
} 


.home_play_btn_text {
    color: white;
    font-size: 22px;
    line-height: 20px;
    padding-bottom: 20px;
}

.home_play_btn {
    padding: 14px 29px;
    border-radius: 3px;
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
    line-height: 1.25;
    background-image: url("../../assets/home.jpg");
    background-position: 49% 66%;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    position: relative;
    transition: background-color 0.6s ease;
    overflow: hidden;
    border-radius: 25px;
    :after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: 50%;
      left: 50%;
      top: var(--mouse-y);
      left: var(--mouse-x);
      transform-style: flat;
      transform: translate3d(-50%, -50%, 0);
      background: rgba(255, 255, 255, 0.1);
      border-radius: 100%;
      transition: width 0.3s ease, height 0.3s ease;
    }
}

.home_play_img {
    width: 40px;
}

.home_gas_text {
    color: white;
    font-size: 20px;
    line-height: 20px;
    padding-top: 25px;
}

.home_gas {
    width: 20%;
    height: 25px;
    width: 20px;
}

/* footer */

.home_footer {
    justify-content: space-between;
    margin-bottom: 36px;
    background-image: url("../../assets/home.jpg");
    background-position: 70% 70%;
    border-radius: 20px;
    border: 2px solid rgb(54, 53, 53);
    position:absolute;
    bottom:0;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 16px;
    width: 80vw;
    gap: 8px;
}

.home_footer_items {
    position: relative;
    padding: 2px 12px;
    width: 90%;
    text-align: center;
    cursor: pointer;

    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

.home_footer_line {
    width: 1px;
    height: 40px;
    background: rgb(217, 205, 203);
}

.home_footer_items_text {
    color: white;
    font-size: 15px;
    line-height: 20px;
    padding: 3px 0px 3px 0px;
}

.home_footer_missions_img {
    padding-top: 5px;
    height: 35px;
    width: 35px;
}

.home_footer_boost_img {
    padding-top: 5px;
    height: 35px;
    width: 35px; 
}

.home_footer_friends_img {
    padding-top: 5px;
    height: 35px;
    width: 35px; 
}
